.hidden {
  overflow: hidden;
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloader__logo {
  width: 60px;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif, -apple-system, "Open Sans";
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(110, 110, 110, 0.4);
  background-color: #dbd5d5;
}
.nav .nav__ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.nav .nav__ul .nav__li {
  height: 100%;
  width: 20%;
}
.nav .nav__ul .nav__li .nav__enlace {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #041c64;
  font-weight: 600;
  transition: 0.3s;
}
.nav .nav__ul .nav__li .nav__enlace:hover {
  color: #f2f2f2;
  background-color: #3d46f2;
}

.portada {
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000244;
}
.portada .portada__img {
  max-width: 400px;
  padding: 20px;
}

.que-es {
  background-color: #000244;
  color: #f2f2f2;
  padding: 50px 60px 20px;
}
.que-es .que-es__h1 {
  margin: 10px 0;
}
.que-es .que-es__descripcion {
  margin: 15px 0;
}

.presentacion {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #000244;
}
.presentacion .presentacion__video {
  max-width: 400px;
  border-radius: 30px 3px;
}
.presentacion .presentacion__contenedor {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.presentacion .presentacion__contenedor .presentacion__button {
  font-size: 22px;
  font-weight: 600;
  color: #041c64;
  background-color: #797ff2;
  box-shadow: 0 3px black;
  padding: 10px 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.presentacion .presentacion__contenedor .presentacion__dudas {
  color: #f2f2f2;
}

.quienes-somos {
  width: 100%;
  background: linear-gradient(120deg, #1fb4e6d5, #3d46f2d0, #041c64d3), url(../imagenes/galaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #f2f2f2;
  padding: 40px 60px;
}
.quienes-somos .quienes-somos__h2 {
  margin: 20px 0;
}
.quienes-somos .quienes-somos__contenedor {
  display: flex;
  justify-content: space-evenly;
}
.quienes-somos .quienes-somos__contenedor .card {
  padding: 20px;
  background-color: rgba(12, 12, 12, 0.575);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quienes-somos .quienes-somos__contenedor .card .card__img {
  width: 200px;
  border-radius: 100px;
}
.quienes-somos .quienes-somos__contenedor .card .card__nombre {
  margin: 25px 0 5px;
}

.cursos {
  width: 100%;
  background-color: #000244;
  padding: 70px 60px;
}
.cursos .cursos__h2 {
  color: #f2f2f2;
  margin: 40px 0;
}
.cursos .cursos__container .cursos__lista .cursos__item {
  width: 300px;
  height: 200px;
  border-radius: 30px 3px;
  background-color: #797ff2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cursos .cursos__button {
  position: relative;
  left: calc((100% / 2) - 122.2px);
  font-size: 22px;
  font-weight: 600;
  margin: 40px 0;
  box-shadow: 0 0 10px 0 rgba(110, 110, 110, 0.4);
  color: #f2f2f2;
  background-color: #3d46f2;
  padding: 10px 40px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
