@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif, -apple-system, 'Open Sans';
  box-sizing: border-box; }

.footer {
  height: 10rem;
  max-width: 100%;
  padding: 10px 60px;
  background: #dbd5d5;
  color: #041c64;
  display: flex;
  justify-content: center; }
  .footer__texto {
    font-size: 24px;
    font-weight: bold; }
  .footer__img {
    width: 50px;
    height: 50px;
    filter: invert(10%) sepia(39%) saturate(4507%) hue-rotate(219deg) brightness(104%) contrast(110%); }

.container__redes {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*Estilo del body*/
body {
  color: #f2f2f2;
  background: #000244; }

/*Estilos para la sección CONTACTO*/
.contacto__h2, .preguntasFrecuentes__h2 {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 26px; }

.sectionContacto {
  padding: 1rem 60px 1rem;
  height: 40rem;
  display: flex;
  flex-flow: row wrap; }
  .sectionContacto__form {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around; }
    .sectionContacto__form--datos {
      max-width: 40%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-content: space-around; }

.completarEspacios {
  width: 100%;
  height: 10%;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid; }

#textareaConsulta {
  min-width: 100%;
  height: 40%;
  font-size: 22px;
  border-radius: 5px;
  flex-shrink: 2;
  resize: none; }

.contenedor__textArea {
  min-width: 45%;
  height: 100%;
  background: linear-gradient(120deg, #1fb4e6d5, #3d46f2d0, #041c64d3), url(/imagenes/galaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem; }

.form__container--button {
  min-width: 100%;
  display: flex;
  justify-content: center; }

.form__button {
  width: 50%;
  height: 50px;
  font-size: 18px;
  background-color: #797ff2;
  color: #f2f2f2;
  border: none;
  border-radius: 5px; }

/*Estilos para la sección de Preguntas Frecuentes*/
.preguntasFrecuentes {
  background: #000244;
  padding: 3rem 60px 3rem; }

.colapsar {
  background-color: transparent;
  color: #f2f2f2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 18px; }

.active, .colapsar:hover {
  background-color: #797ff2; }

.content {
  padding: 0 18px;
  margin: 20px;
  font-size: 18px;
  display: none;
  overflow: hidden;
  background-color: #041c64; }

/*Responsive*/
@media (max-width: 768px) {
  .sectionContacto {
    padding: 2rem 30px; }
    .sectionContacto__form {
      margin-top: 1rem;
      height: 100%;
      width: 100%; }
      .sectionContacto__form--datos {
        height: 100%;
        min-width: 80%; }
  #textareaConsulta {
    width: 100%; }
  .contenedor__textArea {
    display: none; } }
