#countDownTimer {
	font-family: 'Digital';
	color: $color-blanco;
	display: flex;
	justify-content: center;
	font-size: 70px;
	padding-top: 130px;
	@media (max-width: 768px) {
		font-size: 60px;
	}
	@media (max-width: 420px) {
		padding-top: 87px;
		font-size: 47px;
	}
}
