#countDownTimer{
  min-width: 25%;
  // border: 1px solid $color-violeta;
  // background-color: $color-azul-medio;
  color:$color-azul-medio;
  font-weight: bolder;
  border-radius: 5px;
  display:flex;
  justify-content:center;
}