/*Estilo del body*/
body{
  color: $color-blanco;
  background: $color-azul-muy-oscuro;
}

/*Estilos para la sección CONTACTO*/
.contacto__h2{
  width: 100%;
  margin-bottom: 3rem;
  font-size: 26px;
}

.sectionContacto{
  padding: 1rem 60px 1rem;
  max-width: 100%;
  height: 40rem;
  display: flex;
  flex-flow: row wrap;

  &__form{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;

    &--datos{
      max-width: 40%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-content: space-around;
    }
  }
}

.completarEspacios{
  width: 100%;
  height: 10%;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid;
}

#textareaConsulta{
  min-width:100%;
  height: 40%;
  font-size: 22px;
  border-radius: 5px;
  flex-shrink: 2;
  resize: none;
}

.contenedor__textArea{
  min-width: 45%;
  height: 100%;
  background: $gradiente-transparente, url(/imagenes/galaxia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: relative;
}

.form__container--button{
  min-width:100%;
  display: flex;
  justify-content: center;
}

.form__button{
  width: 50%;
  height: 50px;
  font-size: 18px;
  background-color: $color-violeta;
  color:$color-blanco;
  border: none;
  border-radius: 5px
  
}

.presentacion__luna--contacto{
  position: absolute;
  width: 125px;
  left: calc(100% - 50px);
  bottom: calc(100% - 50px);
  z-index: -1;
}

/*Estilos para la sección de Preguntas Frecuentes*/

.preguntasFrecuentes__h2{
  @extend .contacto__h2;
}

.preguntasFrecuentes{
  background: $color-azul-muy-oscuro;
  max-width: 100%;
  padding: 3rem 60px 3rem;
  position: relative;
}

.colapsar{
  background-color: transparent;
  color: $color-blanco;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 18px;
}

.active, .colapsar:hover {
  background-color: $color-violeta;
  color: $color-azul-muy-oscuro;
}

.content {
  padding: 0 18px;
  margin: 20px;
  font-size: 18px;
  display: none;
  overflow: hidden;
  background-color: $color-azul-muy-oscuro;
}

.presentacion__astronauta--preguntas{
  position: absolute;
  width: 250px;
  right: 0vh;
  bottom: 0vh;
}

/*Responsive*/
@media (max-width: 768px) { 

  .sectionContacto{
    padding: 2rem 30px;
    &__form{
      margin-top: 1rem;
      height: 100%;
      width:100%;
      &--datos{
        height: 100%;
        min-width:80%;
        }
      }  
    }
  #textareaConsulta{
    width: 100%;
  }
  .contenedor__textArea{
    display:none;
  }
}
