#whatsapp {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
	z-index: 50;
}
.logo-wsapp {
	width: 50px;
}
.portada {
	width: 100%;
	height: calc(100vh - 50px);
	position: relative;
	margin-top: 50px;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.portada__img {
		position: relative;
		max-width: 600px;
		padding: 20px;
		z-index: 10;
		animation: aparecer 2s ease-in-out forwards;
		@media (max-width: 768px) {
			max-width: 300px;
		}
		@media (max-height: 450px) {
			max-width: 300px;
		}
	}
	.portada__h1 {
		opacity: 0;
		position: relative;
		color: $color-blanco;
		text-align: center;
		margin-top: 20px;
		padding: 0 20px;
		font-size: 36px;
		z-index: 10;
		animation: aparecer 2s ease-in-out forwards;
		@media (max-width: 768px) {
			font-size: 28px;
		}
		@media (max-height: 450px) {
			font-size: 28px;
		}
	}
	.portada__conteiner {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 5;
		background-image: url(../imagenes/fondo-portada.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.35;
	}
}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes sobresalir1 {
	0% {
		font-size: 1em;
	}
	50% {
		font-size: 1.09em;
	}
	100% {
		font-size: 1em;
	}
}
@keyframes sobresalir2 {
	0% {
		font-size: 1em;
	}
	50% {
		font-size: 1.09em;
	}
	100% {
		font-size: 1em;
	}
}
@keyframes sobresalir3 {
	0% {
		font-size: 1em;
	}
	50% {
		font-size: 1.09em;
	}
	100% {
		font-size: 1em;
	}
}
.que-es {
	background-color: $color-azul-muy-oscuro;
	color: $color-blanco;
	padding: 50px 0 0;
	overflow: hidden;

	.que-es__h2 {
		margin: 10px 0;
		padding: 0 60px;
		@media (max-width: 768px) {
			text-align: center;
		}
		@media (max-width: 576px) {
			padding: 0 50px 0px;
		}
	}
	.que-es__descripcion {
		margin: 15px 0;
		font-size: 18px;
		text-align: justify;
		padding: 0 60px;
		@media (max-width: 768px) {
			margin: 15px 0 0;
		}
		@media (max-width: 576px) {
			padding: 0 50px 0px;
		}
	}
	.que-es__descripcion--seg {
		margin: 0;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.presentacion {
		position: relative;
		width: 100%;
		padding: 85px 0px 60px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		background-color: $color-azul-muy-oscuro;
		@media (max-width: 992px) {
			flex-direction: column;
		}
		@media (max-width: 768px) {
			padding: 85px 0px 60px;
		}
		.presentacion__flip {
			width: 200px;
			position: absolute;
			top: -40px;
			right: 0;
			@media (max-width: 768px) {
				width: 140px;
				top: -18px;
			}
		}
		.presentacion__cont-video {
			position: relative;
			width: 500px;
			@media (max-width: 576px) {
				width: 300px;
			}
			.presentacion__video {
				position: relative;
				width: 500px;
				border-radius: 30px 3px;
				margin: 0 20px;
				z-index: 5;
				@media (max-width: 576px) {
					width: 300px;
					margin: 0;
				}
			}
			.presentacion__nave {
				position: absolute;
				width: 150px;
				bottom: -50px;
				left: -50px;
				z-index: 10;
				@media (max-width: 768px) {
					width: 110px;
					bottom: -54px;
					left: -29px;
				}
			}
		}
		.presentacion__contenedor {
			width: 270px;
			height: 110px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin: 0 30px;
			@media (max-width: 992px) {
				margin: 30px 0 0;
			}
			@media (max-width: 576px) {
				width: 240px;
			}
			.presentacion__button {
				font-size: 22px;
				font-weight: 600;
				color: $color-azul-oscuro;
				background-color: $color-violeta;
				box-shadow: 0 3px black;
				padding: 10px 40px;
				border-radius: 3px;
				border: none;
				cursor: pointer;
			}
			.cont-cupos {
				.cont-cupos__p {
					@include prefijos-transition(all 0.5s linear);
					backface-visibility: hidden;
					transform: translateZ(0);
				}
				.anim-sobresalir1 {
					@include prefijos-animation(sobresalir1 1.5s ease-in-out forwards);
				}
				.anim-sobresalir2 {
					@include prefijos-animation(sobresalir2 1.5s ease-in-out forwards);
				}
				.anim-sobresalir3 {
					@include prefijos-animation(sobresalir3 1.5s ease-in-out forwards);
				}
			}
			.presentacion__dudas {
				color: $color-blanco;
				text-align: center;
			}
		}
	}
}

.quienes-somos {
	position: relative;
	width: 100%;
	// background: $gradiente-transparente, url(../imagenes/galaxia.jpg);
	background: url(../imagenes/galaxia2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-blanco;
	padding: 40px 60px;
	@media (max-width: 576px) {
		padding: 40px 0px;
	}
	.quienes-somos__h2 {
		margin: 20px 0;
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	.quienes-somos__contenedor {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		.card {
			// padding: 20px;
			margin: 20px 10px;
			// background-color: rgba(12, 12, 12, 0.575);
			border-radius: 3px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.card__img {
				width: 150px;
				border-radius: 100px;
			}
			.card__nombre {
				margin: 25px 0 5px;
			}
			.card__info {
				text-align: center;
			}
		}
	}
	.quienes-somos__flip {
		position: absolute;
		width: 140px;
		bottom: -80px;
		left: 50px;
		@media (max-width: 768px) {
			width: 90px;
		}
	}
}
.cursos {
	width: 100%;
	background-color: $color-azul-muy-oscuro;
	padding: 70px 60px;
	@media (max-width: 576px) {
		padding: 70px 35px;
	}
	.cursos__h2 {
		color: $color-blanco;
		margin: 40px 0;
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	.cursos__container {
		.cursos__lista {
			.cursos__item {
				width: 300px;
				height: 200px;
				border-radius: 30px 3px;
				background-color: $color-violeta;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.cursos__button {
		position: relative;
		left: calc((100% / 2) - 122.2px);
		font-size: 22px;
		font-weight: 600;
		margin: 40px 0;
		box-shadow: $box-shadow;
		color: $color-blanco;
		background-color: $color-azul-medio;
		padding: 10px 40px;
		border-radius: 3px;
		border: none;
		cursor: pointer;
	}
}




/*Estilos para el contador*/
.container__contador{
  max-width: 100%;
  height: 500px;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
	background-image: url("/imagenes/cont-06.svg");
	background-position: center;
	background-position-y: -50px;
	background-repeat: no-repeat;
	background-size: 500px;
}

.container__contador--texto{
  color: $color-blanco;
  margin: 40px 0;
  min-width: 30%;
  text-align: center;
  display: flex;
  background-color: $color-azul-muy-oscuro;
}



/*Estilos para la sección CONTACTO*/
.contacto__h2{
  width: 100%;
  margin-bottom: 3rem;
  color: $color-blanco;
  margin: 40px 0;
}

.sectionContacto{
  padding: 0 60px;
  margin-bottom: 100px;
  max-width: 100%;
  height: 40rem;
  display: flex;
  flex-flow: row wrap;

  &__form{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-content: space-around;

    &--datos{
      width: 40%;
      height: 100%;
      flex-shrink: -1;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: space-around;
    }
  }
}

.presentacion__astronauta--contacto{
  width: 450px;
}

.completarEspacios{
  width: 100%;
  height: 50px;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid;
}


#textareaConsulta{
  width:100%;
  height: 40%;
  font-size: 22px;
  border-radius: 5px;
  flex-shrink: -1;
  resize: none;
  position: relative;
}

.container__textArea{
  position: relative;
}


.form__container--button{
  min-width:100%;
  display: flex;
  justify-content: center;
}

.form__button{
  width: 50%;
  height: 50px;
  font-size: 18px;
  background-color: $color-violeta;
  color:$color-blanco;
  border: none;
  border-radius: 5px
  
}

.presentacion__nave2{
  position: absolute;
  width: 200px;
  bottom: 10px;
  left: -220px;
  z-index: -1;
  transform: rotate(230deg);
  @media (max-width: 768px) {
     width: 150px;
     bottom: 50px;
     left: 100px;
  }
}




/*Estilos para la sección de Preguntas Frecuentes*/

.preguntasFrecuentes__h2{
  @extend .contacto__h2;
  margin-bottom: 1rem;
}

.preguntasFrecuentes{
  background: $color-azul-muy-oscuro;
  max-width: 100%;
  padding: 3rem 60px;
  position: relative;
}

.colapsar{
  background-color: transparent;
  color: $color-blanco;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 18px;
}

.flecha__abajo {
  margin-right: 20px;
  transform: rotate(270deg);
  filter: invert(100%) sepia(0%) saturate(1582%) hue-rotate(100deg) brightness(117%) contrast(90%);
}

.active, .colapsar:hover {
  background-color: $color-violeta;
  color: $color-azul-muy-oscuro;
}


.content {
	padding: 0 18px;
  margin: 20px;
  font-size: 18px;
  display: none;
  overflow: hidden;
  background-color: $color-azul-muy-oscuro;
	color: $color-blanco;
}

.presentacion__astronauta--preguntas{
  position: absolute;
  width: 200px;
  right: 0vh;
  bottom: 0vh;
}

.preguntasFrecuentes__pregunta{
  display: inline-block;
}


/*Responsive*/

@media (max-width: 1024px){
  .sectionContacto{
    &__form{
      justify-content: flex-end;
    }
  }

  .presentacion__astronauta--contacto{
    width: 375px;
  }
}

@media (max-width: 870px){
  
  .contacto__h2{
    margin-bottom: 15rem;;
  }

  .sectionContacto{
    padding: 2rem 30px;
    &__form{
      margin-top: 1rem;
      height: 100%;
      width:100%;
      justify-content: center;
      justify-items: start;
      &--datos{
        height: 100%;
        width:100%;
        }
      }  
    }
  #textareaConsulta{
    width: 75%;
  }

  .completarEspacios{
    width: 75%;
  }

  .presentacion__astronauta--preguntas{
    position: absolute;
    width: 220px;
    right: 0vh;
    bottom: -5vh;
  }

  .preguntasFrecuentes{
    background: $color-azul-muy-oscuro;
    max-width: 100%;
    padding: 3rem 60px;
    margin-top: 475px;
    // position: relative;
  }

  .preguntasFrecuentes__h2{
    margin-bottom: 1rem;
  }

  .presentacion__astronauta--contacto{
    width: 325px;
  }
}

@media (max-width: 768px) { 

  .contacto__h2{
    margin-bottom: 12rem;;
  }

  .sectionContacto{
    padding: 2rem 30px;
    &__form{
      margin-top: 1rem;
      height: 100%;
      width:100%;
      justify-items: center;
      &--datos{
        height: 100%;
        width:100%;
        }
      }  
    }
  
  .completarEspacios{
   width: 75%;
  }

  .presentacion__astronauta--preguntas{
    position: absolute;
    width: 220px;
    right: 0vh;
    bottom: -5vh;
  }

  .preguntasFrecuentes{
    background: $color-azul-muy-oscuro;
    max-width: 100%;
    padding: 3rem 60px;
    margin-top: 425px;
    // position: relative;
  }

  .preguntasFrecuentes__h2{
    margin-bottom: 1rem;
  }
  .presentacion__astronauta--contacto{
    width: 275px;
  }

  .presentacion__astronauta--preguntas{
    width: 140px;
    bottom: -5vh;
  }
}

@media (max-width: 600px){
  .completarEspacios{
    width: 100%;
  }
  #textareaConsulta{
    min-width: 100%;
  }
}