body{
  color: $color-blanco;
  background: $color-azul-muy-oscuro;
}

/*Estilos para la seccion CONTACTO*/
.contacto__h2{
  margin-bottom: 4rem;
  font-size: 2.5rem;
}

.sectionContacto{
  padding: 3rem 60px 3rem;
  display: flex;
  flex-flow: row wrap;

  &__form{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &--datos{
      min-width:40%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
    }
  }
}

.completarEspacios{
  height: 18%;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid;
}

#textareaConsulta{
  min-width: 50%;
  font-size: 1.5rem;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  flex-shrink: 2;
  text-align: center;
  resize: none;
}

/*Estilos para la sección de Preguntas Frecuentes*/

.preguntasFrecuentes__h2{
  @extend .contacto__h2;
}

.preguntasFrecuentes{
  background: $color-azul-oscuro;
  padding: 3rem 60px 3rem;
}

.colapsar{
  background-color: transparent;
  color: $color-blanco;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 2rem;
}

.active, .colapsar:hover {
  background-color: $color-violeta;
}

.content {
  padding: 0 18px;
  margin: 20px;
  font-size: 1.75rem;
  display: none;
  overflow: hidden;
  background-color: $color-azul-oscuro;
}

@media (max-width: 1024px) { 
  .sectionContacto__form{
    height: 40rem;
    &--datos{
      min-width:75%;
    }
  }
  
  

  #textareaConsulta{
    margin-top: 1.75rem;
    min-width: 75%;
  }
}
